/* * {
  outline: 1px solid red;
} */

/*********************************			
* GENERAL			
*********************************/
body {
  font-family: sans-serif;
  margin: 0;
}

/*********************************			
* TOP SECTION			
*********************************/
header .top-bar {
  background-color: #ffd6ee;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

header .top-menu ul {
  list-style: none;
  padding-left: 0;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
}

header .menu-options {
  padding-right: 2rem;
}

header .left-nav {
  padding: 2.5rem 0 0.5rem 0;
  display: flex;
  /* display: none; */
}

header .brand-logo img {
  width: 100%;
  height: 80%;
  padding-top: 1.5rem;
}

header .brand-logo {
  display: flex;
}

header .currency-dropdown,
.search-button {
  padding: 2.5rem 1rem 1rem 0.5rem;
  color: #f94c43;
  font-size: 0.8rem;
}

header select {
  background-color: #ffd6ee;
  border-style: none;
  color: #f94c43;
}

header .cart-button {
  padding: 2.5rem 1rem 1rem 0.5rem;
  font-size: 0.8rem;
}

header .right-nav {
  display: flex;
  /* display: none; */
}

header section {
  width: 100%;
  position: sticky;
  top: 0;
  margin-top: -15px;
}

header .hero {
  width: 100%;
}

/*********************************			
* MAIN			
*********************************/

main .brand-image img {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main .brand-blurb {
  width: 50vw;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

main .puzzle-description {
  display: flex;
  flex-direction: row;
}

main .brand-blurb h1 {
  font-size: 0.8rem;
}

main .brand-blurb h2 {
  font-size: 1.4rem;
}

main .brand-blurb p {
  font-size: 1rem;
}

main .shop-puzzles h3,
.shop-puzzles h4 {
  text-align: center;
}

main .shop-puzzles h3 {
  font-size: small;
  padding: 1rem;
}

main .shop-puzzles h4 {
  font-size: 1.3rem;
  padding: 1rem;
}

main .series-one-box-1,
.series-one-box-2 {
  width: 40%;
  height: 40%;
}

main .series-one-box-bundle {
  width: 40%;
  height: 40%;
}

main .shop-puzzle-1,
.shop-puzzle-2,
.shop-puzzle-bundle {
  width: 50%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .shop-puzzle-series {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

main a {
  text-decoration: none;
  color: black;
}

main .small-icon-images {
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}

main hr {
  border: 1px solid rgb(173, 173, 173);
}

main .view-product-button {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

main button {
  background-color: #d8fe3c;
  padding: 0.5rem 2rem;
  font-size: 0.8rem;
  border: 1px solid #d8fe3c;
}

main .instagram-cta {
  font-size: 0.9rem;
  text-align: center;
  padding: 1rem;
}

main .small-icon-images .icon-a {
  width: 20%;
  height: 20%;
}

main .small-icon-images {
  padding: 1rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/*********************************			
* FOOTER			
*********************************/

footer {
  background-color: #f94c43;
}

footer .heart-logo {
  padding-left: 1.5rem;
}

footer .brand-marketing-blurb p {
  color: white;
  padding: 1rem 15rem 1rem 3rem;
}

footer .instagram-logo {
  padding: 0 2rem;
}

footer p,
.currency-dropdown {
  color: white;
}

footer select {
  background-color: #f94c43;
  color: white;
  border: 1px solid #f94c43;
}

footer a {
  text-decoration: none;
  color: white;
}

footer form input {
  background-color: #f94c43;
  border: 1px solid white;
  color: white;
  margin-bottom: 1rem;
}

footer button {
  background-color: #d8fe3c;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  font-size: 0.9rem;
  border: 1px solid #d8fe3c;
  display: flex;
  align-self: center;
}

footer .marketing-column {
  padding-bottom: 10rem;
  width: 60%;
  height: 20%;
}

footer .shop-column {
  margin-top: 2rem;
  width: 30%;
  height: 20%;
}

footer .puzzler-column {
  margin-top: 2rem;
  width: 30%;
  height: 20%;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

footer .email-column {
  margin-top: 2rem;
  width: 30%;
  height: 20%;
  padding-right: 4rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

footer .footer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer .currency-dropdown,
.copyright-puzzlelove {
  font-size: 0.7rem;
  padding-bottom: 1.5rem;
}

footer .bottom-row {
  padding: 0 0 1rem 3rem;
}

/*********************************			
* MEDIA QUERY			
*********************************/

@media (min-width: 600px) {
  main .brand-image img {
    padding: 5rem 1rem;
    display: flex;
    align-self: center;
  }

  main .brand-blurb {
    padding: 2rem;
  }

  /* footer .footer-info {
    display: flex;
    flex-wrap: wrap;
  } */
}
